//---------
// Note: For integration tests, this configuration is overwritten by application.conf which is a test resource file.
//---------

dockerdefault = {
  url = "jdbc:mysql://localhost:3306/dockerdefault?user=root&password=enterPasswordHere"
  driver = slick.jdbc.MySQLProfile
  connectionPool = disabled
  keepAliveConnection = true
}

converter = {
  exportBaseDir = "./data/"
}

exampleScotty = {
  url = "jdbc:mysql://localhost:3306/examplescotty?user=root&password=enterPasswordHere"
  driver = slick.jdbc.MySQLProfile
  connectionPool = disabled
  keepAliveConnection = true
}
