//---------
// Note: For integration tests, this configuration is overwritten by application.conf which is a test resource file.
//---------

dockerdefault : {
    dataSourceClass : "slick.jdbc.DatabaseUrlDataSource"
    properties : {
        url : "jdbc:mysql://localhost:3306/exampleScotty?user=root&password=changeme&useUnicode=true&characterEncoding=UTF-8&serverTimezone=Europe/Zurich"
        driver : com.mysql.cj.jdbc.Driver
    }
}

scotty-songsheet-processing : {
  exportBaseDir : "./data/",
  persistUncompressedImage : true,
  pdf : {
    dpi : 300
  },
  png : {
    width : 1000,
    quantizeFilter : {
        colors: 16,
        dither: true,
    }
  }
}

exampleScotty : {
    dataSourceClass : "slick.jdbc.DatabaseUrlDataSource"
    properties : {
        url : "jdbc:mysql://localhost:3306/examplescotty?user=root&password=changeme&serverTimezone=Europe/Zurich"
        driver : com.mysql.cj.jdbc.Driver
    }
}
