scotty-mole-integration-testing-dbsetup = {
  dataSourceClass = "slick.jdbc.DatabaseUrlDataSource"
  properties = {
      url = "jdbc:mysql://localhost:3306/?user=root&password=changeme&useUnicode=true&characterEncoding=UTF-8&serverTimezone=Europe/Zurich"
      driver = com.mysql.cj.jdbc.Driver
  }
}

scotty-mole-integration-testing = {
    dataSourceClass = "slick.jdbc.DatabaseUrlDataSource"
    properties = {
        url = "jdbc:mysql://localhost:3306/scottymole_inttest?user=root&password=changeme&useUnicode=true&characterEncoding=UTF-8&serverTimezone=Europe/Zurich"
        driver = com.mysql.cj.jdbc.Driver
    }
}

songanize-integration-testing-dbsetup = {
    dataSourceClass = "slick.jdbc.DatabaseUrlDataSource"
    properties = {
        url = "jdbc:mysql://localhost:3306/?user=root&password=changeme&useUnicode=true&characterEncoding=UTF-8&serverTimezone=Europe/Zurich"
        driver = com.mysql.cj.jdbc.Driver
    }
}

songanize-integration-testing = {
    dataSourceClass = "slick.jdbc.DatabaseUrlDataSource"
    properties = {
        url = "jdbc:mysql://localhost:3306/songanize_inttest?user=root&password=changeme&useUnicode=true&characterEncoding=UTF-8&serverTimezone=Europe/Zurich"
        driver = com.mysql.cj.jdbc.Driver
    }
}

//via ssh tunnel
songanize-prod = {
    dataSourceClass = "slick.jdbc.DatabaseUrlDataSource"
    properties = {
        url = "jdbc:mysql://127.0.0.1:3306/c1songbase?user=c1songdbuser&password=changeme&useUnicode=true&characterEncoding=UTF-8&serverTimezone=Europe/Zurich"
        driver = com.mysql.cj.jdbc.Driver
    }
}

dockerdefault = ${scotty-mole-integration-testing}
